@media (min-width: 1200px) {
  .jumbotron h1 {
      font-size: 8rem;
    }
  }
  .glyph {
    color: #1380a1;
    font-size: 200px;
    line-height: 200px;
  }
  /* Scale down glyphs on smaller screens */
  @media (max-width: 768px) {
    .glyph {
      font-size: 25vh;
      line-height: 25vh;
    }
  }
  @media (max-width: 576px) {
    .glyph {
      font-size: 5vh;
      line-height: 5vh;
    }
  }
  .bg-grey {
    background-color: #d6d6d6;
    color: #333333;
  }
  .bg-teal {
    background-color: #1380a1;
    color: #333333;
  }
  .bg-yellow {
    background-color: #eaff00;
    color: #1380a1;
  }
  .bg-pink {
    background-color: #ff09d9;
    color: #1380a1;
  }
  .fg-teal {
    color: #1380a1;
  }
  .fg-grey {
    color: #c7c7c7;
  }
  .teal-yellow {
    color: #1380a1;
    text-shadow: 2px 2px 3px #eaff00;
  }
  .teal-pink {
    color: #1380a1;
    text-shadow: 2px 2px 3px #ff09d9;
  }
  .yellow-teal {
    color: #eaff00;
    text-shadow: 2px 2px 3px #1380a1;
  }
  .yellow-pink {
    color: #eaff00;
    text-shadow: 2px 2px 3px #ff09d9;
  }
  .pink-yellow {
    color: #ff09d9;
    text-shadow: 2px 2px 3px #eaff00;
  }
  .pink-teal {
    color: #ff09d9;
    text-shadow: 2px 2px 3px #1380a1;
  }
  .greysh {
    color: #c9ccd3;
    text-shadow: 2px 2px 3px #434343;
  }
  .btn-teal-yellow {
    background-color: #1380a1;
    color: #eaff00;
  }
  footer {
    color: #1380a1;
  }
  footer .bi {
    font-size: 20px;
    margin-bottom: 20px;
  }
  footer a {
    text-decoration: none;
    color: #eaff00;
    text-shadow: 2px 2px 3px #ff09d0;
  }
  footer a:hover {
    font-weight: bold;
  }
  #messageArea {
    font-size: xx-large;
  }